@model KiemTra.Models.Teacher

@{
    ViewBag.Title = "KQ";
}

<h2>KQ</h2>
<table>
    <tr>
        <td>Ma DV</td>
        <td>Ho ten</td>
        <td>Gio tinh</td>

        <td>Luong</td>

    </tr>
    <tr>
        <td>@Model.maGv</td>
        <td>@Model.Hoten</td>
        <td>@Model.sex</td>

        <td>@Model.luong</td>

    </tr>
    
</table>
